<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome to My Node.js Application!</h1>
  <p>This is a simple welcome page served using Node.js and Express.</p>
  <button onclick="location.href='/register'">Register</button>
</body>
</html>